{{define "login"}}

<!doctype html>
<html lang="en">
    <head>

        <title>Login</title>

        {{template "global_header" .}}

<style>

</style>


    </head>

    <body>

        <div class="container">

            <h2>Pub Crawl</h2>

            <a type="button" class="btn btn-primary" href="/facebook/login">
                <i class="fab fa-facebook"></i>
                Login with Facebook
            </a>
        </div>

        <!-- <a href="/facebook/login" class="button">Login with Facebook</a> -->

        {{template "global_footer" .}}

    </body>
</html>

{{end}}
