{{define "profile"}}

<!doctype html>
<html lang="en">
    <head>

        <title>Profile</title>

        {{template "global_header" .}}

        <!-- LeafletJS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

        <style>

            .body {
                padding-bottom: 20px;
            }

            .pub-crawls,
            .pub-crawl-venues {
                font-size: 0.8em;
            }

            .pub-crawl-venues {
                height: 100%;     /* full height of the content box */
                max-height: 56em; /* requires an absolute value for height. */
                overflow-y: scroll;
            }

            #map {
                width: auto;
                height: 400px;
            }



            .pulsate {
                -webkit-animation: pulsate 1.5s ease-out;
                -webkit-animation-iteration-count: infinite;
                background-color: rgb(198,200,202,0.1);
            }

            @-webkit-keyframes pulsate {
                0% {
                    background-color: rgb(198,200,202,0.1);
                }
                50% {
                    background-color: rgb(198,200,202,1.0);
                }
                100% {
                    background-color: rgb(198,200,202,0.1);
                }
            }



            .throbPath {
                -webkit-animation: throbPath 1.5s ease-out;
                -webkit-animation-iteration-count: infinite;
                stroke-width: 1;
            }

            @-webkit-keyframes throbPath {
                0% {
                    stroke-width: 1;
                }
                50% {
                    stroke-width: 4;
                }
                100% {
                    stroke-width: 1;
                }
            }

        </style>


    </head>

    <body>

        {{template "navbar" .}}

        <div class="container">

            <!-- <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto logo">
                    <h1>Pub Crawl</h1>
                </div>
            </div> -->

            <div class="row">
                <div class="col-lg-3">
                    Pub Crawls
                    <div class="list-group list-group-flush pub-crawls">
                    </div>
                </div>
                <div class="col-lg-4">
                    Venues
                    <div class="list-group list-group-flush pub-crawl-venues">
                    </div>
                </div>
                <div id="map" class="col">
                </div>
            </div>


        </div>

        {{template "global_footer" .}}

        <script>

            function test() {
            	api.fetch(
            		{
            			"method": "create_crawl",
            			"params": {
            				"longitude": -123.0880,
            				"latitude": 44.046174,
            				"name": "test"
            			}
            		},
            		function(err, res) {
            			console.log(err, res);
            		}
            	);
            }



            var App = function() {

                this.elements = {
                    crawlList: $('.pub-crawls'),
                    venueList: $('.pub-crawl-venues')
                }

                this.map = L.map('map').setView([0, 0], 2);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
                }).addTo(this.map);

                this.venuesLayer;
            }

            App.prototype.getElement = function(key) {
                return this.elements[key];
            }

            App.prototype.moveTo = function(venue) {
                this.map.setView({
                                lng: venue.location.lng,
                                lat:venue.location.lat
                            }, 17);
            }

            App.prototype._createCrawlListItem = function(crawl) {
                var self = this;
                return $('<a>', {href:'#'})
                            .addClass('list-group-item list-group-item-action')
                            .append(crawl.name||crawl.id)
                            .on('click', function(e) {
                                self.updatePubCrawlVenues(crawl.id);
                            });
            }

            App.prototype.updatePubCrawls = function() {
                var self = this;
                api.fetch(
                	{
                		"method": "get_crawls"
                	},
                	function(err, res) {
                		if(err) throw(err);
                        var $listElem = self.getElement('crawlList');
                        $listElem.empty();
                        res.data.crawls && $listElem.append(
                            res.data.crawls.map(function(crawl) {
                                return self._createCrawlListItem(crawl);
                            })
                        );
                    }
                );
            }

            App.prototype._createMarker = function(venue) {
                var color = venue.visited ? 'red' : 'blue';
                return L.circleMarker({
                        lng: venue.venue.location.lng,
                        lat: venue.venue.location.lat
                    }, {
                        radius: 5,
                        color: color,
                        fill: color,
                        weight: 1.5
                    });
            }

            App.prototype._createVenueListItem = function(data) {
                var self = this;
                venue = data.venue;
                return $('<a>', {href:'#', id: venue.id})
                            .addClass('list-group-item list-group-item-action d-flex justify-content-between align-items-center')
                            .append(
                                venue.name||venue.id,
                                $('<span>').addClass('badge badge-primary badge-pill').append(data.up_votes-data.down_votes)
                            )
                            .on('click', function(e) {
                                self.moveTo(venue);
                            })
                            .on('mouseover', function(e) {
                                self.venuesLayer.eachLayer(function(layer) {
                                    if (venue.id == layer.venue_id) {
                                        $(layer._path).addClass('throbPath');
                                    }
                                });
                            })
                            .on('mouseout', function(e) {
                                self.venuesLayer.eachLayer(function(layer) {
                                    $(layer._path).removeClass('throbPath');
                                });
                            })
            }

            App.prototype._updateVenueList = function(venues) {``
                var self = this;
                var $listElem = self.getElement('venueList');
                $listElem.empty();
                $listElem.append(
                    venues.map(function(venue){
                        return self._createVenueListItem(venue, venue.visisted ? 'visited' : 'unvisisted').addClass( venue.visisted ? 'disabled' : '' );
                    })
                );
            }

            App.prototype._updateVenuesLayer = function(venues) {
                var self = this;

                this.venuesLayer && this.venuesLayer.remove();

                var features = venues.map(function(venue) {
                    return {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [venue.venue.location.lng, venue.venue.location.lat]
                        },
                        "properties": venue
                    }
                }) || [];

                this.venuesLayer = L.geoJson({"features": features}, {
                    pointToLayer: function(feature, latlng) {
                        return self._createMarker(feature.properties);
                    },
                    onEachFeature: function (feature, layer) {
                        var venue_id = feature.properties.venue_id;
                        layer.venue_id = venue_id;
                        layer
                            .on('click', function(e){
                                $('.pub-crawl-venues').scrollTo("#"+venue_id, 800);
                            })
                            .on('mouseover', function(e) {
                                $('#'+venue_id).addClass('pulsate');
                            })
                            .on('mouseout', function(e) {
                                $('#'+venue_id).removeClass('pulsate');
                            });

                        }
                    });

                this.venuesLayer.addTo(this.map);
                this.map.fitBounds(this.venuesLayer.getBounds());
            }

            App.prototype.updatePubCrawlVenues = function(crawl_id) {
                var self = this;
                api.fetch(
                    {
                        "method": "get_venues",
                        "params": {
                            "crawl_id": crawl_id
                        }
                    },
                    function(err, res) {
                        if(err) throw(err);
                        self._updateVenueList(res.data.venues);
                        self._updateVenuesLayer(res.data.venues);
                    }
                );
            }



            var app = new App();
            app.updatePubCrawls();

        </script>

    </body>
</html>

{{end}}
