{{define "profile"}}

<!doctype html>
<html lang="en">
    <head>

        <title>Profile</title>

        {{template "global_header" .}}

        <style>

            .logo {
                padding: 3rem 1.5rem;
                text-align: center;
            }

        </style>


    </head>

    <body>

        <div class="container">

            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto logo">
                    <h1>Pub Crawl</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    {{.username}} logged in!

                    <form action="/logout" method="post">
                        <button class="btn btn-default" type="submit" value="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row">
                
            </div>

        </div>

        {{template "global_footer" .}}

    </body>
</html>

{{end}}
